.mail-preview {
    border-block: 0.1px rgb(128, 128, 128) solid;
    display: grid;
    grid-template-columns: .5fr 1fr;
}

.mail-preview.read {
    background: rgba(179, 200, 207, 0.31);
}

.mail-subject {
    font-weight: bold;
}