.mail-nav-container {
    padding-inline-end: 15px;
}

.mail-nav {
    display: flex;
    max-width: 240px;
    align-items: center;
    height: 32px;
    flex-direction: column;
    border-top-right-radius: 20px;
    border-bottom-right-radius: 20px;
}

.mail-nav a {
    max-width: 230px;
    min-height: 32px;
    padding: 0 12px 0 26px;
    display: grid;
    grid-template-columns: 1fr 3fr 3fr;
    align-items: center;
    color: #202124;
    font-size: 14px;
}

.mail-nav a.active {
    background: rgb(211, 227, 253);
    color: #001D35;
    font-family: roboto-bold;
    border-top-right-radius: 20px;
    border-bottom-right-radius: 20px;
}

.mail-nav a span {
    font-size: 12px;
    justify-self: end;
    color: rgb(95, 99, 104)
}

a.active span {
    color: rgb(0, 29, 53);
}


.mail-nav i {
    width: 20px;
    margin-right: 18px;
}

.inbox-icon {
    transform: scale(0.9375, 0.9375);
}

.starred-icon {
    transform: scale(0.85, 0.85);
    transform: translateX(-1px);
}

.sent-icon {
    transform: translateX(9.5px) scale(2.25, 1.5);
}

.drafts-icon {
    transform: translateX(3px) scale(1.2, 1.2);
}

.trash-icon {
    transform: scale(1.3, 1.3);
    transform: translateX(1px);
}