* {
    box-sizing: border-box;
}

/* typography */
@font-face {
    font-family: roboto-reg;
    src: url(/assets/fonts/Roboto-Regular.ttf)
}

@font-face {
    font-family: roboto-med;
    src: url(/assets/fonts/Roboto-Medium.ttf);
}

@font-face {
    font-family: roboto-bold;
    src: url(/assets/fonts/Roboto-Bold.ttf);
}

html {
    font-family: roboto-reg;
}

body {
    margin: 0;
    padding: 0;
    background: var(--main-bg-color2);
}

h1,
h2,
h3,
h4,
h5,
h6 {
    margin: 0;
}

a {
    text-decoration: none;
    color: inherit;
}

img {
    height: 100%;
    width: 100%;
    object-fit: cover;
}