.mail-details {
    display: grid;
    grid-template-columns: .7155fr 2.5fr;
}

.mail-details-actions>* {
    padding-inline: 10px;
    cursor: pointer;
}

.go-back {
    margin-right: 11px;
}

.mail-content-container {
    display: grid;
    grid-template-rows: 1fr 1.1fr 1fr 3fr;
    align-items: center;
    justify-content: center;
    background: #FFFFFF;
}

.user-icon {
    padding-left: 9px;
}

.mail-content-container>*:nth-child(even) {
    padding-left: 55px;
    padding-right: 20px;
}

.mail-details-subject {
    font-size: 22px;
    color: #1F1F1F;
}

.mail-details-header {
    display: grid;
    align-items: center;
    grid-template-columns: 1fr 3fr 1fr .5fr;
    color: #5E5E5E
}

.sent-from {
    font-size: 14px;
    font-family: roboto-bold;
    color: #1F1F1F;
}

.sent-at {
    font-size: 12px;
}

.mail-details-body {
    font-size: 16px;
}