/* .buttons-container{
    margin-top: 16px;
} */

.buttons-container>button {
    background-color: unset;
    font-size: 1rem;
    margin: 0 1rem;
    /* padding: 0; */
    opacity: 0;
    border-radius: 4em;    
    transition: .3s;
}
.buttons-container > button:hover {
    background-color: rgb(212, 217, 215);
}
.note-text-container:hover button {
    opacity: 1;
}


.color-palette {
    display: flex;
    position: absolute;
    z-index: 5;
    bottom: 50px;
    left: 0;
    gap: 5px;
    background-color: rgb(255, 255, 255);
    justify-content: center;
    width: 200px;
    box-shadow: 0 1px 2px 0 rgb(60 64 67 / 30%), 0 2px 6px 2px rgb(60 64 67 / 15%);
    flex-wrap: wrap;
    border-radius: 8px;
    padding: 10px;
}

.color-pick {
    cursor: pointer;
    display: block;
    width: 25px;
    border-radius: 50px;
    height: 25px;
    border: 1px solid rgba(0, 0, 0, 0.176);
}