.home {
    background-image: url('../../img/home.jpg');
    background-attachment: fixed;
    background-size: 100% 100%;
    
    height: calc(100vh - 59px);
    overflow: hidden;
}
.home h1{
    margin: auto;
    font-size: 7rem;
    text-align: center;
    color: white;
    opacity: .8;
}