.user-msg {
    background-color: lightgray;
    padding: 0 1em;
    position: fixed;
    bottom: 1em;
    left: 1em;
    display: flex;
    align-items: center;
    justify-content: start;
    min-height: 100px;
    min-width: 220px;
    z-index: 6;
    border-radius: 5px;
}

.user-msg.success {
    background-color: lightgreen;
}

.user-msg.error {
    background-color: lightpink;
}


.user-msg button {
    position: absolute;
    margin: 1em;
    top: 1px;
    right: 1px;
}