.note-list {
    /* width: 100%; */
    width: fit-content;
    /* column-width: 240px; */
    column-count: 2;
    /* gap: 30px; */
    /* margin-top: 2rem; */
    margin: 0 auto;
    padding: 2rem;
    /* padding-bottom: 30px; */
}

@media (min-width: 980px) {
    .note-list {
        column-count: 3;
    }

}

@media (min-width: 1290px) {
    .note-list {
        column-count: 4;
    }
}

@media (min-width: 1600px) {
    .note-list {
        column-count: 5;
    }
}