 .note-preview {
    position: relative;
    min-height: 100px;
    display: flex;
    align-items: center;
    border-radius: 8px;
    margin-bottom: 10px;
    flex-direction: column;
    justify-content: center;
    break-inside: avoid-column;
    /* width: max-content; */
 }

 .note-todos-container {
    display: flex;
    flex-direction: column;
    width: 300px;
    padding: 1rem 2rem;
    border-radius: 1em;
    background-color: rgb(255, 255, 255);
    border: 1px solid lightgray;
 }

 .note-todos-container ul {
    margin: 0;
    padding: 0;
 }

 .note-todos-container li {
    display: flex;
 }

 .note-todo {
    font-size: 1.1rem;
    font-family: monospace;
    padding: 1rem;
    overflow: hidden;
    border: none;
    letter-spacing: 1px;
    resize: none;
    outline: none;
    background-color: inherit;
 }

 .note-todos-container .checkbox {
    background-color: inherit;
 }

 .note-todos-container:hover .buttons-container button {
    opacity: 1;
 }

 .checked {
    text-decoration: line-through;
 }