.note-list {
    width: fit-content;
    column-count: 2;
    margin: 0 auto;
    padding: 2rem;
}

@media (min-width: 980px) {
    .note-list {
        column-count: 3;
    }

}

@media (min-width: 1290px) {
    .note-list {
        column-count: 4;
    }
}

@media (min-width: 1650px) {
    .note-list {
        column-count: 5;
    }
}