.app-header {
  background-color: var(--clr3bg);
  /* color: var(--clr2bg); */
  color: violet;

  padding: 1em;
}

.app-nav{
  display: flex;
  justify-content: space-evenly;
}
.app-nav > a{
  font-size: 1.2rem;
  color: white;
}

.app-nav > a.active{
  /* color: rgb(165, 42, 144);
   */
   color: violet;
  box-shadow: 0px 4px 0 0;
}



/* @media(max-width: 720px) {
  .app-header {
    color: var(--clr2bg);
  }
} */
