.book-details {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    background-color: var(--clr3bg-light);
    font-size: 1.3rem;
    padding: 1.5rem;
}
.book-details h1 {
    color: var(--clr1);
    font-size: 2em;
    border-bottom: 2px solid var(--gray2);
    
}
.book-details h5 {
    color: var(--clr2);
}
.book-details img {
    max-width: 200px;
    display: block;
    margin: auto;
}

.book-details .icon {
    max-width: 70px;
    margin: 0;
}


.review-container {
    background-color: #fff;
    display: flex;
    gap: 1rem;
    width: 100%;
}

.edit-btn {
    background-color: var(--clr3bg);
    padding: 1rem;
    border-radius: 1em;
    margin: 1rem auto;
    color: white;

    transition: background-color .4s , color .4s;
}
.edit-btn:hover {
    background-color: var(--clr3bg-light);
    color: var(--clr3bg);
}

.back-btn {
    background-color: var(--clr3bg);
    padding: 1rem;
    border-radius: 1em;
    margin: 1rem auto;
    color: white;

    transition: background-color .4s , color .4s;
}
.back-btn:hover {
    background-color: var(--clr3bg-light);
    color: var(--clr3bg);
}

.book-details span{
    margin: auto;
}

.btn{
    background-color: var(--clr3bg);
    padding: .7rem;
    color: aliceblue;
    border-radius: 1em;
    position: absolute;

    transition: background-color .7s , color .7s;
}
.btn:hover{
    background-color: var(--clr3bg-light);
    color: var(--clr3bg);
}
.prev-btn{
    bottom: 10%;
    left: 10px;
}
.next-btn{
    bottom: 10%;
    right: 10px;
}