.book-filter {
    background-color: var(--clr3bg-light);
    padding: 10px 16px;
    display: flex;
    flex-direction: column;
    align-items: center;
    font-size: 1.3rem;
}

.book-filter form {
    display: grid;
    grid-template-columns: 100px 200px;
    gap: 1rem;
}

.book-filter input{
    border-radius: .6em;
    border: none;
    padding: 8px 20px;
}
.book-filter .filter-btn {
    display: inline;
    background-color: #a5d3ae;
}