.review-list{
    display: flex;
    margin: auto;
    /* width: 450px; */
    flex-direction: column;
    text-align: center;
}
.review{
    display: flex;
    background-color: var(--clr3bg);
    padding: 1rem;
    /* gap: 1rem; */
    border-radius: 1em;
}
.review h4{
    font-size: .9rem;
    width: 50%;
}
.review span{
    color: white;
}
